<header class="bg-neutral">
  <div class="navbar">
    <%= link_to root_path, class: "navbar-start" do %>
      <%= image_tag "header-logo.png", class: "h-10" %>
    <% end %>
    <ul class="navbar-end menu menu-horizontal">
      <li>
        <%= link_to 'MLBB Tier', heroes_path, class: "text-white hover:text-primary" %>
      </li>
      <li>
        <%= link_to 'Unite Tier', pokemons_path, class: "text-white hover:text-primary" %>
      </li>
    </ul>
  </div>
</header>