<div class="container mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <a href="/heroes">
          <%= image_tag "mlbb-featured.webp", alt: "Mobile Legends", class: "rounded-t-box" %>
        </a>
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title text-3xl font-bold mb-4">モバイル・レジェンド</h2>
        <p class="mb-4">
          モバイル・レジェンドのヒーローティアをチェックしよう！
        </p>
        <div class="card-actions">
          <a href="/heroes" class="btn btn-primary btn-lg px-8 py-3 uppercase font-bold">
            Tierを見る
          </a>
        </div>
      </div>
    </div>
    
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <a href="/pokemons">
          <%= image_tag "unite-featured.webp", alt: "Pokemon Unite", class: "rounded-t-box" %>
        </a>
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title text-3xl font-bold mb-4">ポケモンユナイト</h2>
        <p class="mb-4">
          ポケモンユナイトのヒーローティアをチェックしよう！
        </p>
        <div class="card-actions">
          <a href="/pokemons" class="btn btn-primary btn-lg px-8 py-3 uppercase font-bold">
            Tierを見る
          </a>
        </div>
      </div>
    </div>
  </div>
</div>