<tr>
  <td class="tier-label" style="background-color: <%= color %>;">
    <h2 style="color: white;"><%= tier %></h2>
  </td>
  <td class="tier-pokemons" style="background-color: <%= bg_color %>;">
    <% @pokemons.select { |pokemon| pokemon.tier == tier }.each do |pokemon| %>
      <%= image_tag pokemon.tier_img_url, alt: pokemon.name_en, style: 'width: 80px;' %>
    <% end %>
  </td>
</tr>